#must {
    display: none;
}

.buthere {
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin-left: 0;
}

.btn.btn-primary.l {
    flex: 1;
    border-radius: 5px;
    margin-right: 5px;
    min-height: 25 px;
    margin-top: 5px;

}
.modal-dialog.i{
    width: 75%;
}

.btn.btn-primary.r {
    margin-left: auto;
    border-radius: 5px;
    margin-left: 5px;
    min-height: 25 px;
    margin-top: 5px;

}

#copyclear {
    background-color: rgb(20, 20, 20);
}

#copyrecitekeys {
    background-color: rgb(175, 61, 99);
}

#cliinput {
    min-height: 80px;
    font-size: 12px;
    width: 35%;
    margin-right: 4px;
}

#clioutput {
    min-height: 80px;
    font-size: 12px;
    width: 65%;
    margin-left: 4px;
}

#left-input {
    min-height: 150px;
    font-size: 13px;
    width: 35%;
    margin-right: 4px;
}

#right-input {
    min-height: 150px;
    font-size: 13px;
    width: 65%;
    margin-left: 4px;
}

a {
    color: #3265b2;
    text-decoration: none;
}

.btn.r {
    margin-left: auto;
    border-radius: 5px;
    margin-left: 5px;
    min-height: 25 px;
    color: #080808;
    background-color: #f09124;
}

#citekeys {
    font-size: 13px;
    width: 100%;
    min-height: 60px;
    margin-top: 5px;
}